/* html,
body {
  font-size: 24px;
} */

.main-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* flex-flow: column; */
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.check-container {
    width: 7.25rem;
    height: 8.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.check-container .check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    /* background: #2DCFC1; */
    background: #385C9F;
    /* linear-gradient(to bottom right, #5de593, #41d67c); */
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.check-container .check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-container .check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    /* background: radial-gradient(closest-side, #2DCFC1, transparent);
     */
    background: radial-gradient(closest-side, #385C9F, transparent);
    animation: animateShadow 0.75s ease-out forwards 0.75s;
}

.stars1 {
    animation: animateStars1 1s ease-out;
}

.stars2 {
    animation: animateStars2 1s ease-out;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateShadow {
    0% {
        opacity: 0;
        width: 100%;
        height: 15%;
    }

    25% {
        opacity: 0.25;
    }

    43.75% {
        width: 40%;
        height: 7%;
        opacity: 0.35;
    }

    100% {
        width: 85%;
        height: 15%;
        opacity: 0.25;
    }
}

@keyframes animateStars2 {
    0% {
        margin-top: 30px;
        opacity: 0;
    }

    25% {
        margin-top: 20px;
        opacity: 0.25;
    }

    43.75% {
        margin-top: 15px;
        opacity: 0.35;
    }

    50% {
        margin-top: 9px;

        opacity: 0.5;
    }

    75% {
        margin-top: 2px;
        opacity: 0.75;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes animateStars1 {
    0% {
        opacity: 0;
        margin-bottom: 30px;
    }

    25% {
        margin-bottom: 20px;
        opacity: 0.25;
    }

    43.75% {
        margin-bottom: 15px;
        opacity: 0.35;
    }

    50% {
        margin-bottom: 9px;
        opacity: 0.5;
    }

    75% {
        margin-bottom: 5px;
        opacity: 0.75;
    }

    100% {

        margin-bottom: 0px;
        opacity: 1;
    }
}